
body {
  background-color: #FC7975;
  font-family: 'Muli', sans-serif;

}

.container {
  max-width: 1080px;
}

/*.box-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-top: 100px;
}*/

.aboutme {
  background-color: #F9F9F9;
}

.whiteBody {
  background-color: #F9F9F9;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 440px;
  height: 300px;
  background-color: #FC7975;
  color: #222222;
  text-align: center;
}

/*.flex-square{
    width: 43%;
    background: #ca0164;
}
.flex-square:before{
    content: "";
    display: block;
    padding-top: 63%;
}


/*.box-flex::before {
  transform: scaleX(1);
  visibility: hidden;
}*/

.ganchimeg {
  margin-top: 220px;
}

.box-flex::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 281px;
  background-color: grey;
  top: 300px;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 0;
  max-width: 100%;
}

.greeting {
  padding-top: 60px;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: .08em;
}

.jobdescription {
  font-family: PT sans-serif;
  font-size: 27px;
  letter-spacing: 0.10em;
  color: #333;
}
/* About section */
.about {
  margin-top: 130px;
}

.about-heading {
  font-size: 2.5em;
  color: #E6E7E8;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
}

.mypicture {
  max-width: 270px;
  max-height: 270px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme {
  max-width: 880px;
}

.icon {
  text-align: center;
  padding-top: 15px;
}

.icondescription {
  text-align: justify;
  font-size: 12px;
  max-width: 275px;
  margin: auto;
  position: relative;
  padding-left: 30px;
  padding-bottom: 27px;

}

.icon1::before {

    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 150px;
    border-bottom: 15px solid #F5B88A;
    border-left: 15px solid #F5B88A;
    opacity: 1;
}

.icon2 {
  padding-bottom: 28px;
}

.icon2::before {

    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 150px;
    border-bottom: 15px solid #E9837C;
    border-left: 15px solid #E9837C;
    opacity: 1;
}

.icon3::before {

    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 150px;
    border-bottom: 15px solid #4F54A7;
    border-left: 15px solid #4F54A7;
    opacity: 1;
}

.title {
  font-weight: bold;
}

.timeline {
  margin-top: 40px;
}
/*   Navbar styling                      -------------------- */
.nav-points {
  max-width: 95px;
}

.navbar-header {
  margin-bottom: 5px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  max-width: 997px;
}

.navbar-default .navbar-nav>li>a {
     color: white;
     padding-top: 5px;
     padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  border: 1px solid white;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
     border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 30px;
    height: 4px;
}

.navbar-brand {
  padding-top: 25px;
  margin-left: 33px;
}

.fa-gg {
  color: white;
}

@media (min-width: 1200px) {
  .fa-gg {
    margin-left: 60px;
  }
}

.border {
  border: solid #ED807F;
  margin-bottom: 20px;
  margin-top: 100px;
}

.navbar-collapse {
  padding-top: 15px;
  margin-bottom: 24px;
  margin-top: 15px;
  margin-right: 33px
}

@media (max-width: 992px) {
  .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*   Projects section ------------------------------------------------------ */

.iconwebsite {
  width: 500px;
  height: 300px;
  position:relative;
  display: flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.wiki {
  border: 1px solid black;
}

.twitch-img {
  border: 1px solid #554B9C;
}

.smaller-box {
  margin-left: 0px;
  max-width: 400px;
  max-height: 300px;
  margin-top: 25px;
  flex: 2;
}

.left {
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 25px;

}

.project1-padding {
  padding-left: 50px;
  padding-right: 5px;
  padding-top: 10px;
}

.project2-padding {
  padding-left: 13px;
  padding-top: 10px;
}

.project3-padding {
  padding-left: 0px;
  padding-right: 62px;
  padding-top: 10px;
}

.weather-margin {
  margin-top: 25px;
}

.projectHeading {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.5em;
  color: #E6E7E8;
  font-weight: bold;
  letter-spacing: 4px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(241, 241, 241, 0.85);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease;
  opacity: 0;

}

.slidein:hover .overlay {
  opacity: 1;
}

.learn-more a {
  letter-spacing: 1.2px;
  text-decoration: none;
  white-space: nowrap;
  color: #ff6a00 ;
  font-size: 20px;
  position: absolute;
  /*overflow: hidden;*/
  top: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 3px solid #ff6a00;
  border-radius: 50px;
  padding: 5px 50px;
  transition: color 0.5s, background-color 0.5s;
}

.learn-more a:hover, .visit-website a:hover {
  color: white;
  background: #ff6a00;
}

.visit-website a {
  letter-spacing: 1.2px;
  text-decoration: none;
  white-space: nowrap;
  color: #ff6a00 ;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 71%;
  left: 50%;
  transform: translate(-51%, 60%);
  border: 3px solid #ff6a00 ;
  border-radius: 50px;
  padding: 5px 41px;
}

.website-name {
    white-space: nowrap;
    color: #585858;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    top: 16%;
    left: 50%;
    transform: translate(-51%, 60%);
    padding: 5px;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-bottom: 33px;
}

.iconwebsite {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.jscriptprojects {
  padding-bottom: 5px
}


/*      TMP     */

.fcontainer {
  margin-top: -17px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.fitem {
  max-width: 300px;
}

/*  -------------------------Hover over effect for first 3 websites    --------- */
.fitem {



  position: relative;
}

.fitem::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: 0;
    width: 100px;
    height: 100px;
    border-bottom: 10px solid #F5B88A;
    border-left: 10px solid #F5B88A;
    opacity: 0;
    transition: opacity 0.25s;
}

.fitem:hover:before, .fitem:hover:after {
   opacity: 1;
}

 .fitem::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100px;
    border-top: 10px solid #6332AF;
    border-right: 10px solid #6332AF;
    height: 100px;
    opacity: 0;
    transition: opacity 0.25s;
}

.hover {
  margin-bottom: 25px;
  margin-right: 13px;
}

/*  -------------------------Hover over effect for last 4 websites    --------- */

.ffitem {
  position: relative;
}

.ffitem::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: -10px;
  right: 0;
  width: 160px;
  height: 160px;
  border-bottom: 10px solid #F5B88A;
  border-left: 10px solid #F5B88A;
  opacity: 0;
  transition: opacity 0.25s;
}

.ffitem:hover:before, .ffitem:hover:after {
   opacity: 1;
}

 .ffitem::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 160px;
    border-top: 10px solid #6332AF;
    border-right: 10px solid #6332AF;
    height: 160px;
    opacity: 0;
    transition: opacity 0.25s;
}

.hover {
  margin-bottom: 25px;
  margin-right: 13px;
}

.slidein {
  position: relative;
}

.ffitem {
  flex-grow: 1;
  margin: 21px 15px;
}

.fimage {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.col-md-12 {
  padding-left: 0px;
}

/*   ------------------- Footer ---------------------------------------------*/
.bottom {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FC7975;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 20px;
}

.contact {
  text-align: center;
  font-size: 4em;
  color: #E6E7E8;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: -23px;
  margin-top: 100px;
}

.socialicon {
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  border: 2px solid black;
  color: black;
  border-radius: 100%;
  padding-top: 12px;
}

.socialicon:hover {
  background-color: black;
  color: white;
}

.letsget {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px;
  color: white;
}

/*   ------------------- Media Queries for mobile friendly ----------------------*/
@media (min-width:768px) and (max-width:996px) {
  .text {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 12px;
    margin-left: 7px;
  }

  .navbar-collapse {
    padding-top: 0px;
  }
}

 @media only screen and (max-width : 400px) {
   .fimage {
     height: 245px;

   }

   .ffitem {
     margin-right: 0px;
   }
 }

 @media only screen and (max-width : 991px) {
   .ffitem {
     width:261px;
   }
 }


 @media only screen and (max-width : 1200px) {
   .ffitem {
     max-width:500px;
   }
 }
