.navbar-translucent {
     background-color: rgba(0, 0, 0, 0.8);
     border-color:transparent;
     background-image:none;
     box-shadow:none;
}

.about-background {
  background: url(http://i.imgur.com/Pxchpe4.jpg) no-repeat center top;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  min-height: 720px;
  background-size: cover;
}

.resume-background {
  background: url(http://imgur.com/dNJzWdu.jpg) no-repeat center top;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  min-height: 720px;
  background-size: cover;
}

.about-caption {
  margin-left: 134px;
  text-align: left;
  padding-top: 220px;
}

.about-caption * {
  color: white;
}

.home {
  font-size: 6em;
}

#contactme {
  padding-top: 10px;
  padding-left: 10px;
}

/*@media screen and (max-width: 486px) {
  h1, h2, h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  h1, h2, h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 278px) {
  h1, h2, h3 {
    font-size: 10px;
  }
}*/
* {
  font-family: 'Cormorant Garamond', serif;
}

.col-sm-2 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 300px;
}

.label {
  display: block;
  color: #1C77BA;
  font-size: 15px;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.about {
  float: right;
  width: 350px;
}

.value {
  float: left;
  width: 350px;

}

p {
  padding-bottom: 10px;
}

#projects {
  font-size: 17px;
}

.caption {
  text-align: center;
}

.mission {
  width: 550px;
  padding-left: 80px;
  font-weight: bold;
}

.welcome {
  font-size: 20px;
}

.description {
  font-size: 4em;
}
@media screen and (max-width: 770px) {
  .col-sm-2 {
    display:list-item;
    padding-top: 10px;
  }
}

@media screen and (max-width: 770px) {
  .col-sm-4 {
    margin: 20px;
  }
}
