.mypic {
  height: 300px;
  border-radius: 600%;
}

.about-section {
  background-color: #9AD5CC;
}

.projects-section {
  background-color: #FEAFB4;
}

.contactme-section {
  background-color: #9AD5CC;
}
